<header class="header-home">
  <div class="flex">
    <span></span>
    {% include mainmenu.html %}
  </div>

  <div class="container">
    <div class="row" id="mission">
      <div class="five columns">
        <h1 class="logo"><span>Erf</span>Geo<sup>Beta</sup></h1>
        <h2>{{ site.data.strings.slogan }}</h2>
      </div>
      <div class="six columns">
        <p>Van Dorestad tot Lelystad, van Pieterskerk tot Nils&nbsp;Bohrweg&nbsp;1, van Burgwal tot Bob Marleystraat en van Oude&nbsp;Niedorp tot Hollands&nbsp;Kroon.</p>
        <p>Elke plaats, bestuurlijke eenheid, straat, zelfs elk gebouw en elk adres dat ooit in Nederland bestaan heeft kennen - dat is onze ambitie.</p>
      </div>
    </div>
    <div id="search">
      {% include searchbox.html %}
      <small class="examples">Bijvoorbeeld:
          <a href="/kaart/#search=%22Heyloe%22">Heyloe</a>, 
          <a href="/kaart/#search=%22Nieuwer Amstel%22">Nieuwer Amstel</a>, 
          <a href="/kaart/#search=%22Worcum%22">Worcum</a>, 
          <a href="/kaart/#search=%22Volksvlijt%22">Volksvlijt</a>, 
          <a href="/kaart/#search=%22Morocco%22">Morocco</a>, 
          <a href="/kaart/#search=%22Stalinlaan%22">Stalinlaan</a>, 
          <a href="/kaart/#search=%22Monster%22">Monster</a>, 
          <a href="/kaart/#search=%22Dorestad%22">Dorestad</a>
      </small>
    </div>
</header>
