<meta charset="utf-8">
<title>ErfGeo |{% if page.title %} {{page.title }} {% else %} {{site.data.style.slogan }} {% endif %}</title>
{% if page.description %}<meta name="description" content="{{page.description}}">{% endif %}
<meta name="author" content="Waag Society">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="icon" type="image/png" href="/assets/images/erfgeo.png">
{{ if page.d3 }}
<script src="/assets/js/d3.v3.min.js"></script>
{{ endif }}
<link rel="stylesheet" href="/assets/css/style.css">