<span id="toggle-main-menu"><span class="icon"></span></span>
<nav id="main-menu">
  {% assign url = page.url | replace_first:'/','' | split:"/" | first %}
  {% if site.data.mainmenu[0] %}
    <ul>
      {% for item in site.data.mainmenu %}
        {% if item.submenuitems[0] %}
          <li class="has-sub-menu{% if item.slug == url %} current{% endif %}">
            <a>{{ item.title }}</a>
            <ul class="sub-menu">
              {% for subitem in item.submenuitems %}
                <li class="{% if subitem.slug == url %}current{% endif %}">
                  <a href="/{{ subitem.slug }}">{{ subitem.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% else %}
          <li class="{% if item.slug == url %}current{% endif %}">
            <a href="/{{ item.slug }}">{{ item.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
</nav>
<script type="text/javascript">
document.getElementById("toggle-main-menu").onclick = function() {
  document.getElementsByTagName("body")[0].classList.toggle("main-menu-active");
};

var itemsWithSubMenu = document.getElementsByClassName("has-sub-menu");
for (var i = 0; i < itemsWithSubMenu.length; i++) {
  itemsWithSubMenu[i].onclick = function() {
    this.classList.toggle("active");
  };
}
</script>