
  @font-face {
    font-family: 'Work Sans'; font-style: normal; font-weight: 400;
    src: url('../assets/fonts/WorkSans-Regular.woff2') format('woff2'),
         url('../assets/fonts/WorkSans-Regular.ttf') format('truetype'),
  }
  @font-face {
    font-family: 'Work Sans'; font-style: normal; font-weight: 500;
    src: url('../assets/fonts/WorkSans-SemiBold.woff2') format('woff2'),
         url('../assets/fonts/WorkSans-SemiBold.ttf') format('truetype'),
  }
  @font-face {
    font-family: 'Work Sans'; font-style: normal; font-weight: 700;
    src: url('../assets/fonts/WorkSans-Bold.woff2') format('woff2'),
         url('../assets/fonts/WorkSans-Bold.ttf') format('truetype'),
  }

