input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  width: 100%;
  min-width: 240px;
  height: 38px;
  margin-bottom: 1rem;
  padding: 0.5em 0.75em;
  background-color: #fff;
  border: none;
  border-bottom: 2px solid #eee;
  box-shadow: none;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border-bottom: 2px solid $color-secondary;
  outline: 0;
}

/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

textarea {
  min-height: 5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

input[readonly] {
    background-color: $color-box-item;
    border-bottom: none !important;
    font-size: 0.8em;
    height: auto;
}

label,
legend {
  display: block;
  margin-bottom: .5rem;
}

fieldset {
  padding: 0;
  border-width: 0;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
}


button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  line-height: 38px;
  margin-left: 0.5em;
  padding: 0 1.75em;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: #000;
  border: 1px solid #000;
  cursor: pointer;
  transition: all 100ms ease;
}

button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  outline: 0;
  background-color: $color-secondary;
  border-color: $color-secondary;
}