header {
  background-color: $color-primary;
  margin-top: 0;

  &.header-default {
    position: fixed;
    width: 100%;
    height: $height-header;
    top: 0;
    left: 0;
    z-index: 1000;
  }

  .logo {
    span {
      font-weight: 700;
    }
    sup {
      vertical-align: super;
      top: -1em;
      padding: 0.15em 0.3em;
      background: $color-link;
      color: #FFF;
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: 0;
      border-radius: 0.35em;
    }
  }

  a.logo {
    margin-left: 1rem;
    font-size: 24px;
    line-height: $height-header;

    &:hover {
      border-bottom-color: transparent;
    }
  }

  h1.logo {
    font-weight: 400;
    font-size: 72px;
  }

  a {
    text-decoration: none;
    color: #000;

    &:hover,
    &.current {
      color: $color-text;
      text-decoration: none;
      border-bottom: 1px solid $color-text;
    }
  }

  ul {
    margin: 2px 0 0;
    padding: 0;
    list-style-type: none;
    float: right;

    li {
      display: inline;
      margin-left: 7px;
    }
  }
}

#mainmenu {
  float: right;

  a.menu-item {
    margin-right: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-size: 0.85em;
    line-height: $height-header;
  }
}


// home
#mission{
  padding-bottom: 30px;

  h1 {
    margin-bottom: 0px;
  }

  h2 {
    font-size: 30px;
    max-width: 340px;
    margin-bottom: 6px;
    font-weight: 400;
  }

  p {
    font-size: 20px;
    margin-bottom: 16px;
    margin-top: 16px;
  }
}

#search {
  padding-bottom: 1rem;

  h3 {
    margin-bottom: 0.25rem;
  }

  .examples {
    display: block;
    margin-bottom: 1rem;
  }

  #searchbox {
    padding-bottom: 0;
  }
}