a {
  color: $color-link;
  text-decoration: none;
  border-bottom: 1px solid transparent;

  &:hover {
    transition: all 150ms ease-in-out;
    color: darken($color-link, 10%);
    border-bottom: 1px solid darken($color-link, 10%);
  }

  &:active,
  &:focus {
    outline-style: none;
    -moz-outline-style:none;
  }
}

ul.links {
  list-style: none !important;

  li {
    padding-left: 1em;
    position: relative;

    &:before {
      content: "›";
      position: absolute;
      left: 0;
      top: 0.25em;
      line-height: 1em;
    }

    &:hover:before {
      left: 0.1em;
    }
  }

  a {
    color: $color-text;

    &:hover {
      border-bottom-color: $color-text; 
    }
  }
}

