table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;

  &.data {
    margin: 1.6em 0 3.2em 0;
  }

  th,
  td {
    min-width: 5em;
    padding: 0.75em;
    border-bottom: 1px solid darken($box-color, 8%);
    vertical-align: top;
    text-align: left;

    &:first-child {
      padding-left: 0;
    }
  
    &:last-child {
      padding-right: 0;
    }
  }

  th {
    font-size: 0.85em;
    text-transform: uppercase;
    font-weight: 400;
    color: $brand-color-alt;
  }

  td {
    &.label:after {
      content: ':';
    }

    &:not(:first-child) a {
        font-size: 0.85em;
        word-break: break-all;
    }
  }

  tr:last-child td {
    border-bottom: none;  
  }
}

table.no-borders {
  tbody tr:first-child {
    border-top: 1px solid black;
  }
  tr.border-bottom {
    border-bottom: 1px solid black;
  }
  td {
    border-bottom: none;
  }
}
