---
---

$color-primary:   #99ddee;
$color-secondary: #115577;
//$color-link:      #EE2244;
//$color-primary:   #a8fab1;
//$color-secondary: #395c3d;
$color-link:      #f54545;
$color-bg:        #F7F7F7;
$color-box:       #FFFFFF;
$color-box-item:  darken($color-box, 4%);
$color-text:      #000000;

$width-sidebar: 450px;
$height-header: 42px;

@import "normalize";
@import "leaflet";

@import "fonts";
@import "grid";
@import "typography";
@import "links";
@import "forms";
@import "tables";
@import "header";
@import "footer";
@import "search-map";
@import "search-textual";

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding:0;
  background-color: $color-bg;
}

img {
  max-width: 100%;
  height: auto;
}

time.published {
  float: right;
  margin: 0 0 1em 2em;
  padding: 0 0.5em;
  font-size: 14px;
  background-color: $color-box-item;
  border-radius: 0.25em;
}

.author {
  margin-bottom: 3rem;
  text-transform: uppercase;
  font-size: 13px;

  h1 + & {
    margin-top: -1rem;
  }
}


.right, 
.float-right {
  float: right;
}

.clear {
  clear: both;
}

.hidden {
  display: none;
}

.indent {
  margin-left: 1em;
}

.padding {
  padding: .8em;
}

.side-padding {
  padding: 0 .8em;
}

.cell-padding {
  padding-top: 6px;
}

.id {
  font-family: monospace;
  font-size: 1.5rem;
}
