<!DOCTYPE html>
<html lang="nl">
<head>
    {% include head.html %}
    <!-- leaflet -->
    <link rel="stylesheet" href="/assets/css/leaflet.css" />
    <link rel="stylesheet" href="/assets/css/leaflet.draw.css" />
    <link rel="stylesheet" href="/assets/css/leaflet-search.min.css" />
    <script src="/assets/js/leaflet.js"></script>
    <script src="/assets/js/leaflet.draw.js"></script>
    <script src="/assets/js/leaflet-search.min.js"></script>

    <!-- Load Esri Leaflet from CDN -->
    <script src="//cdn.jsdelivr.net/leaflet.esri/1.0.0-rc.7/esri-leaflet.js"></script>
</head>
<body>
{% include header.html %}

<div id="map" class="map-full"></div>
<div id="map-legend" class="box">
    <small>{{ content }}</small>
</div>

<script src="/assets/js/histodraw.js"></script>
</body>
</html>