<!DOCTYPE html>
<html lang="nl">
<head>
{% include head.html %}
</head>
<body>

  <div class="table-container">
    <div class="table-block footer-push">
      {% include header-home.html %}

      <div class="container">
        <div class="row">
          <div class="two-third column">
            {{ page.title }}
            {{ content }}
          </div>
        </div>
      </div>

    </div>

    <div class="table-block">
      {% include footer.html %}
    </div>

  </div>

</body>
</html>
